* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    font-size: 30px;

}

#header{
    position: fixed;
    background-color: black;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img#header-img{
    width: 220px;
    height: 100px;
}

.nav{
    display: inline-block;
    /* margin: 0 auto; */
    /* padding: 10% 20%; */

}

nav > ul > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

nav > ul > li a {
    text-decoration: none;
}

#firstSection{
    display: flex;
    padding: 10%;
    justify-content: space-around;
}

#firtSection form{

}
    

#product {
    display: flex;
    text-align: center;
}

button {
    cursor: pointer;
    background-color: grey;
    border-radius: 5px;
    border-color: aliceblue;
    padding: 5px 25px;
    margin: 30px;
}
